.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
.logo {
    width: 200px;
    height: 32px;
    line-height: 32px;
    margin: 16px 24px 16px 0;
    float: left;
    a {
        display: inline-block;
        width: 100%;
        line-height: 32px;
        height: 32px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        text-decoration: none;
        img {
            width: 26px;
            padding-right: 5px;
            box-sizing: content-box;
            padding-bottom: 5px;
        }
    }
}
.log-options {
    cursor: pointer;

    .login-name {
        display: inline-block;
        margin: 0;
        width: 50px;
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        color    : rgba($color: #fff, $alpha: .7);

        &:hover {
            color: rgba($color: #fff, $alpha: .9)
        }
    }
}
